body, html {
  height: 100%;
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background-color: #8a2be2;
}

.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.error-message {
  color: #d32f2f;
  margin-bottom: 15px;
  font-size: 0.9em;
  text-align: center;
  width: 100%;
}

.login-form input {
  width: calc(100% - 0px);
  padding: 15px 10px; /* Aumentei o padding vertical para 15px */
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.1em;
}

.login-form button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 1em;
  width: 100%;
}

.login-form button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.login-form button:hover:before {
  opacity: 1;
}

.login-form button:active {
  background: #0056b3;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form p {
  margin-top: 15px;
  font-size: 0.9em;
  color: #555;
  text-align: center;
  width: 100%;
}

.login-form p a {
  color: #007bff;
  text-decoration: none;
}

.login-form p a:hover {
  text-decoration: underline;
}

.login-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form form input,
.login-form form button {
  margin-bottom: 15px;
}

.login-form form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}